# **Attempt #4**
  * Kept "NAME" column.     
  * 6 new hidden layers were added with more neurons.
  * Binning structure of some columns have changed.

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'ASK_AMT' and 'STATUS'
application_df.drop(columns=['EIN','ASK_AMT','STATUS'], inplace=True)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
value_counts_df = pd.DataFrame(application_df['APPLICATION_TYPE'].value_counts())
value_counts_df.reset_index(inplace=True)
application_types_to_replace = []
for v in range(len(value_counts_df['APPLICATION_TYPE'])):
  if (value_counts_df['APPLICATION_TYPE'][v] < 1000) :
    application_types_to_replace.append(value_counts_df['index'][v])

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
value_counts_df = pd.DataFrame(application_df['CLASSIFICATION'].value_counts())
value_counts_df.reset_index(inplace=True)
classifications_to_replace = []
for v in range(len(value_counts_df['CLASSIFICATION'])):
  if (value_counts_df['CLASSIFICATION'][v] < 100) :
    classifications_to_replace.append(value_counts_df['index'][v])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of NAMEs to be replaced
# use the variable name `names_to_replace`
value_counts_df = pd.DataFrame(application_df['NAME'].value_counts())
value_counts_df.reset_index(inplace=True)
names_to_replace = []
for v in range(len(value_counts_df['NAME'])):
  if (value_counts_df['NAME'][v] < 10) :
    names_to_replace.append(value_counts_df['index'][v])

# Replace in dataframe
for cls in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_numeric = pd.get_dummies(application_df)
application_df_numeric.head()

,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df_numeric["IS_SUCCESSFUL"].values
X = application_df_numeric.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

<ipython-input-12-b2543bef6586>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df_numeric.drop(["IS_SUCCESSFUL"],1).values

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  180
hidden_nodes_layer2 = 160
hidden_nodes_layer3 = 140
hidden_nodes_layer4 = 120
hidden_nodes_layer5 = 100
hidden_nodes_layer6 = 80
hidden_nodes_layer7 = 60
hidden_nodes_layer8 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, input_dim=number_input_features, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, input_dim=number_input_features, activation="relu"))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, input_dim=number_input_features, activation="relu"))

# Sixth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer6, input_dim=number_input_features, activation="relu"))

# Seventh hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer7, input_dim=number_input_features, activation="relu"))

# Eighth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer8, input_dim=number_input_features, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 180)               48240

 dense_1 (Dense)             (None, 160)               28960

 dense_2 (Dense)             (None, 140)               22540

 dense_3 (Dense)             (None, 120)               16920

 dense_4 (Dense)             (None, 100)               12100

 dense_5 (Dense)             (None, 80)                8080

 dense_6 (Dense)             (None, 60)                4860

 dense_7 (Dense)             (None, 40)                2440

 dense_8 (Dense)             (None, 1)                 41

=================================================================
Total params: 144,181
Trainable params: 144,181
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy",optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.4767 - accuracy: 0.7690
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4463 - accuracy: 0.7830
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4420 - accuracy: 0.7849
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4395 - accuracy: 0.7851
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4380 - accuracy: 0.7855
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4370 - accuracy: 0.7879
Epoch 7/100
804/804 [==============================] - 4s 6ms/step - loss: 0.4358 - accuracy: 0.7878
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4352 - accuracy: 0.7893
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4343 - accuracy: 0.7875
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4330 - accuracy: 0.7897
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4328 - accuracy: 0.7885
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4324 - accuracy: 0.7895
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4308 - accuracy: 0.7909
Epoch 14/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4299 - accuracy: 0.7925
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4300 - accuracy: 0.7913
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4301 - accuracy: 0.7922
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4278 - accuracy: 0.7937
Epoch 18/100
804/804 [==============================] - 4s 6ms/step - loss: 0.4276 - accuracy: 0.7918
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4283 - accuracy: 0.7923
Epoch 20/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4275 - accuracy: 0.7934
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4264 - accuracy: 0.7933
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4253 - accuracy: 0.7951
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4261 - accuracy: 0.7945
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4255 - accuracy: 0.7935
Epoch 25/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4253 - accuracy: 0.7942
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4257 - accuracy: 0.7932
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4236 - accuracy: 0.7951
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4239 - accuracy: 0.7951
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4235 - accuracy: 0.7942
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4237 - accuracy: 0.7941
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4224 - accuracy: 0.7950
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4227 - accuracy: 0.7943
Epoch 33/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4231 - accuracy: 0.7953
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4241 - accuracy: 0.7966
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4210 - accuracy: 0.7945
Epoch 36/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4204 - accuracy: 0.7969
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4202 - accuracy: 0.7965
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4203 - accuracy: 0.7952
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4201 - accuracy: 0.7973
Epoch 40/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4199 - accuracy: 0.7955
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4190 - accuracy: 0.7975
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4201 - accuracy: 0.7965
Epoch 43/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4205 - accuracy: 0.7966
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4190 - accuracy: 0.7970
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4184 - accuracy: 0.7973
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4177 - accuracy: 0.7982
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4167 - accuracy: 0.7974
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4165 - accuracy: 0.7983
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4162 - accuracy: 0.7976
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4178 - accuracy: 0.7975
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4184 - accuracy: 0.7982
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4189 - accuracy: 0.7966
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4178 - accuracy: 0.7969
Epoch 54/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4165 - accuracy: 0.7978
Epoch 55/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4178 - accuracy: 0.7978
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4163 - accuracy: 0.7984
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4167 - accuracy: 0.7981
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4169 - accuracy: 0.7988
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4181 - accuracy: 0.7987
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4158 - accuracy: 0.7991
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4154 - accuracy: 0.7992
Epoch 62/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4188 - accuracy: 0.7972
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4160 - accuracy: 0.7987
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4145 - accuracy: 0.7992
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4156 - accuracy: 0.7986
Epoch 66/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4153 - accuracy: 0.7988
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4142 - accuracy: 0.7987
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4141 - accuracy: 0.7992
Epoch 69/100
804/804 [==============================] - 4s 6ms/step - loss: 0.4172 - accuracy: 0.7989
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4143 - accuracy: 0.7994
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4148 - accuracy: 0.7996
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4145 - accuracy: 0.7988
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4137 - accuracy: 0.7978
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4151 - accuracy: 0.7979
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4129 - accuracy: 0.7996
Epoch 76/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4137 - accuracy: 0.7987
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4128 - accuracy: 0.7984
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4150 - accuracy: 0.7992
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4173 - accuracy: 0.7984
Epoch 80/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4139 - accuracy: 0.7991
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4137 - accuracy: 0.7990
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4133 - accuracy: 0.7997
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4157 - accuracy: 0.7988
Epoch 84/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4133 - accuracy: 0.7996
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4134 - accuracy: 0.7999
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4127 - accuracy: 0.7997
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4142 - accuracy: 0.7987
Epoch 88/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4140 - accuracy: 0.7996
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4140 - accuracy: 0.7993
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4145 - accuracy: 0.7988
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4145 - accuracy: 0.7996
Epoch 92/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4141 - accuracy: 0.7994
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4145 - accuracy: 0.7998
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4121 - accuracy: 0.7993
Epoch 95/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4120 - accuracy: 0.7998
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4143 - accuracy: 0.7997
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4126 - accuracy: 0.7998
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4131 - accuracy: 0.7989
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4144 - accuracy: 0.7989
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4129 - accuracy: 0.7986

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5361 - accuracy: 0.7826 - 648ms/epoch - 2ms/step
Loss: 0.536087155342102, Accuracy: 0.7826238870620728

In [18]:
# Export our model to HDF5 file
nn.save("Output/AlphabetSoupCharity_Attempt4.h5")